extends base.pug

block main
	.fof
		.fof__fof 404
		.fof__headline
			strong O
			| ops, эта страница не отвечает!
		.fof__subheadline.fof__subheadline_grey Ссылка может быть повреждена
		.fof__subheadline или эта страница удалена
		a(href='/').fof__button На главную